$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}